html{
    background-repeat: no-repeat;
}
h3{
    font-size: 55px!important;
}

canvas{
    animation-name : animate;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
}

.btn:hover{
    background-color: crimson;
}
@keyframes animate{
    from{box-shadow: 1px 1px 38px rgb(255, 255, 255);}
    to{ box-shadow: 1px 1px 38px rgb(0, 87, 168);}
}